.button{
    height: 40px;
    width: 10rem;
    border: none;
    border-radius: 20px;
    background-color: var(--light-green);
    color: var(--white);
    border-radius: 20px;
    transition: 0.3s ease;

    &[disabled]{
        cursor: not-allowed;
        svg{
            animation: animate 2s infinite;
        }
    }

    &:hover{
        filter: brightness(1.3);
    }
}

.buttonText{
    padding: 1rem;
    color: var(--white)
}

@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}